.top-bar {
    margin: 0px;
    background: #121e29;
    color: #596479;
    margin-right: 10px;

}

.top-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #121e29
}
li {
    float: left;
}

li a {
    display: block;
    color: #596470;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

li a:hover:not: (.active) {
    background-color: #111;
}