.top-bar { /* whole top bar */
    background-color: #121e29;
    padding: 6px 0;

}



.top-bar a{ /* text*/
    color: #596479;
    text-decoration: none;
    text-transform: uppercase;
}




.top-bar ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: right;
}

.branding img{
    margin: 15px 0;
}

.top-bar li{
    display: inline;
}



.branding ul{
    list-style: none;
    padding: 0;
    margin: 24px 0 0;
    text-align: right;
}

.branding li{
    display: inline;
}

.more {
    padding: 6px 8px;
    background-color: #121e29;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
}

.branding li a{
    padding: 6px 8px;
    background-color: #121e29;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 8px;
}


.bottom {
    background: rgb(47,78,110);
    background: radial-gradient(circle, rgba(47,78,110,1) 25%, rgba(22,39,54,1) 50%, rgba(22,39,54,1) 75%, rgba(16,26,36,1) 100%);
    color: white;
}

